@using Microsoft.AspNetCore.Identity
@using The_Shoulder_Log.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    string CurrentURL = Context.Request.Path;
}
<div class="container">
@if (SignInManager.IsSignedIn(User))
    {<div class="row">
        @if (CurrentURL.Contains("Library"))
        {
            <div id="libraryButton" class="col-lg-2" display="hidden">
                <a asp-controller="Physician" asp-action="Library" class="btn btn-default">Go To Library</a>
            </div>
        }
        else
        {
            <div class="col-lg-2">
                <a asp-controller="Physician" asp-action="Library" class="btn btn-default">Go To Library</a>
            </div>
        }
        <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
                </li>
                <li>
                    <button type="submit" class="btn btn-link navbar-btn navbar-link" style="color:blue">Log off</button>
                </li>
            </ul>
        </form>
    </div>
}
</div>
