@model The_Shoulder_Log.Models.PhysicianViewModels.LibraryViewModel

@inject SignInManager<ApplicationUser> SignInManager

<div class="container">
    @if (!SignInManager.IsSignedIn(User))
    {
        <h2>Please Log in to Start Shopping </h2>
    }
    else
    {
        <div class="row text-center">
            <h1>Patients Library</h1>
        </div>
        <div class="row spacer"></div>
        <div class="row">
            <h3>Patients</h3>
            <br> <br>
            @if (Model.Patients != null)
            {
                <div class="col-lg-6">
                        @foreach (RegisterPatient patient in Model.Patients)
                        {
                            <div class="row">
                                <div class="col-lg-6">
                                <a asp-controller="Physician" asp-action="DetailedPatient" asp-route-id="@patient.RegisterPatientId" >@Html.DisplayFor(modelPatient => patient.LastName)</a>
                                </div>
                                <div class="col-lg-6">
                                    <a asp-controller="Patient" asp-action="PatientLateClinicHist" asp-route-id="@patient.RegisterPatientId"><input type="button" class="btn btn-default" value="New Visit" /></a>
                                </div>
                            </div>
                        }
                </div>
                <div class="col-lg-6"></div>
            }
        </div>
        <div class="row text-center">
            <a class="center" asp-controller="Patient" asp-action="PatientRegister"><input type="button" class=" btn btn-default" value="Create New Record" /></a>
        </div>
    }
</div>