@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>THE SHOULDER LOG</h1>
        </div>
    </div>
    <div class="spacer"></div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4 text-center">
            <a asp-area="" asp-controller="Account" asp-action="Register"><input type="submit" value="Register" class="btn btn-default" /></a>
</div>
        <div class="col-md-4 text-center">
            <a asp-area="" asp-controller="Account" asp-action="Login"><input type="submit" value="Login" class="btn btn-default" /></a></li>
        </div>
        <div class="col-md-2 text-center"></div>
    </div>
</div>